.doneItem {
    list-style: none;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.activity {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 7px;
    width: 100%;
}

.productive {
    background-color: #C7E5EF;
    border-color: #9bbdc9;
    color: #005962;
}

.wellness {
    background-color: #C6EFCE;
    border-color: #99c9a2;
    color: #006100;
}

.procrastination {
    background-color: #FFC7CE;
    border-color: #daacb1;
    color: #9C0006;
}

.necessary {
    background-color: #FFEB9C;
    border-color: #dbcb8a;
    color: #9C5700;
}