.productive {
    /* background-color: #C7E5EF; */
    color: #005962;
}

.wellness {
    /* background-color: #C6EFCE; */
    color: #006100;
}

.procrastination {
    /* background-color: #FFC7CE; */
    color: #9C0006;
}

.necessary {
    /* background-color: #FFEB9C; */
    color: #9C5700;
}